<?xml version="1.0" ?>
<robot name="cube.urdf">
  <link name="baseLink">
    <contact>
    	<friction_anchor/>
        <lateral_friction value="1.0"/>
        <rolling_friction value="0.0"/>
        <contact_cfm value="0.0"/>
        <contact_erp value="0.2"/>    <!-- how strict the solver is -->
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/> 
       <mass value=".1"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="cube.obj" scale="0.1 0.1 0.1"/>   <!-- scale must be same as box size -->
      </geometry>
       <material name="red">
        <color rgba="0.83, 0.176, 0.448, 1"/>   <!-- change colour here! -->
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<box size=".1 .1 .1"/>                      <!-- change size here! must match scale -->
      </geometry>
    </collision>
  </link>
</robot>

